{% extends 'base.html' %} {% block head %}
<p>index head block</p>
{% endblock %} {% block body %}
<p>index Body block</p>
<p>Account status: {{account_status}}</p>
<div class="login-block">
  <button onclick="location.href='login'">Login</button>
  <button onclick="location.href='register'">Register</button>
</div>

<script>
  let username = "{{username}}";
  if (username.length > 0) {
    let logout_button = document.createElement("button");
    logout_button.innerHTML = "Log out";
    logout_button.addEventListener("click", (event) => {
      // Communicate with backend to log out.
      fetch("/logout", {
        method: "POST",
        cache: "no-cache",
      }).then((response) => {
        console.log(response);
        location.reload();
      });
    });
    document.body.appendChild(logout_button);
  }
</script>
{% endblock %}
