{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<p>Login</p>
<p class="login-error error-text">{{login_error_message}}</p>
<div class="login-block">
  <form method="POST">
    <p>Email</p>
    <input type="text" name="email" class="email-field" />
    <p>Password</p>
    <input type="password" name="password" />
    <br>
    <button>Login</button>
  </form>
  <button onclick="location.href='/'">Back</button>
</div>

<script>
  let email = "{{email}}";
  if (email.length > 0) {
    document.querySelector(".email-field").setAttribute("value", email);
  }
</script>
{% endblock %}
