{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<head>
  <link rel="stylesheet" href="register.css">
</head>
<h3>Register Account</h3>
<p class="register-error error-text">{{register_error_message}}</p>

<div class="login-block">
  <form method="POST">
    <p><b>Email</b></p>
    <input type="text" name="email" placeholder="Enter Email" class="email-field" />
    <p><b>Username</b></p>
    <input type="text" name="username" placeholder="Enter Username"  class="username-field" />
    <p><b>Password</b></p>
    <input type="password" placeholder="Enter Password" name="password" />
    <br />
  </form>
  <button class="register-account">Register</button>
  <button onclick="location.href='/'">Back</button>
</div>

<script>
 
 

  if (username.length > 0) {
    document.querySelector(".username-field").setAttribute("value", username);
  }

  if (email.length > 0) {
    document.querySelector(".email-field").setAttribute("value", email);
    
  }
   
  
</script>
{% endblock %}
